<div class="container features-row">
  <div class="row">
    
    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="features-row-header">
      <div class="row">
        <%= image_tag('nicubunu_Chocolate_birthday_cake.svg', class: 'img-responsive clip-art') %>
      </div>  
      <div class="row">
        <h1 class="text-center">BAKED GOODS</h1>
      </div>
      </div>
      <ul class="">
        <li><i class="fa fa-star fa-2x"></i><span>Cakes</span></li>
        <li><i class="fa fa-star fa-2x"></i><span>Cookies</span></li>
        <li><i class="fa fa-star fa-2x"></i><span>Macaroons</span></li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="features-row-header">
      <div class="row">
      <%= image_tag('ryanlerch_Artwork_-_paintbrush_scissors_and_glue.svg', class: 'img-responsive clip-art') %>
    </div>  
    <div class="row">
    <h1 class="text-center">CRAFTS</h1>
</div>
</div>
 <ul class="">
        <li><i class="fa fa-star fa-2x"></i><span>Invitations</span></li>
        <li><i class="fa fa-star fa-2x"></i><span>Party Favors</span></li>
        <li><i class="fa fa-star fa-2x"></i><span>Gifts</span></li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="features-row-header">
      <div class="row">
      <%= image_tag('party1.svg', class: 'img-responsive clip-art') %>
    </div>  
    <div class="row">
    <h1 class="text-center">PARTY PLANNING</h1>
</div>
</div>
 <ul class="">
        <li><i class="fa fa-star fa-2x"></i><span>Birthday Parties</span></li>
        <li><i class="fa fa-star fa-2x"></i><span>School Functions</span></li>
        <li><i class="fa fa-star fa-2x"></i><span>Charity Functions</span></li>
      </ul>
    </div>


  </div>
</div>