<div class="row scrolling_quote">
  <div class="col-md-12">
    <div class="titlebox">       Testimonials      </div>
    <div class="quotes">"enean molestie vestibulum neque, sed auctor enim. Suspendisse convallis ante id tempor placerat. Nulla molestie aliquet fermentum. Curabitur quis fringilla sem, ac dapibus elit. Vestibulum iaculis, leo non mollis eleifend, risus ligula ornare neque, ut suscipit mi nibh vitae quam. Nulla nulla diam, lacinia nec tellus sit amet, blandit malesuada dui. Donec volutpat rutrum sem, interdum commodo justo scelerisque a.."
      <br />
      <div class="source">
        -Example 1
      </div>
    </div>
    <div class="quotes">"et fermentum. Curabitur quis fringilla sem, ac dapibus elit. Vestibulum iaculis, leo non mollis eleifend, risus ligula ornare neque, ut suscipit mi nibh vitae quam. Nulla nulla diam, lacinia nec tellus sit amet, blandit malesuada dui. Donec volutpat rutrum sem, interdum commodo justo scelerisque a.."<br />
      <div class="source">
        -Example 2
              </div>
    </div>
    <div class="quotes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie vestibulum neque, sed auctor enim. Suspendisse convallis ante id tempor placerat. Nulla molestie aliquet fermentum. Curabitur quis fringilla sem, ac dapibus elit.. Nulla nulla diam, lacinia nec tellus sit amet, blandit malesuada dui. Donec volutpat rutrum sem, interdum commodo justo scelerisque a."<br />
      <div class="source">
        -Example 3.
      </div>
    </div>
   
  </div>
</div>