$brown: #a68863;
$orange: #ff4e24;
$pink: #ff18fb;
$yellow: #f9ff50;
$peach: #fecfa7;

@mixin radial_gradient($main_color: $yellow){
background: rgb(249,255,80); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,255,80,1) 0%, rgba(251,255,131,1) 40%, rgba(251,255,131,1) 60%, rgba(249,255,80,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,255,80,1)), color-stop(40%,rgba(251,255,131,1)), color-stop(60%,rgba(251,255,131,1)), color-stop(100%,rgba(249,255,80,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,255,80,1) 0%,rgba(251,255,131,1) 40%,rgba(251,255,131,1) 60%,rgba(249,255,80,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,255,80,1) 0%,rgba(251,255,131,1) 40%,rgba(251,255,131,1) 60%,rgba(249,255,80,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,255,80,1) 0%,rgba(251,255,131,1) 40%,rgba(251,255,131,1) 60%,rgba(249,255,80,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,255,80,1) 0%,rgba(251,255,131,1) 40%,rgba(251,255,131,1) 60%,rgba(249,255,80,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ff50', endColorstr='#f9ff50',GradientType=0 ); /* IE6-9 */
}

@mixin brown-gradient {
  background: rgb(166,136,99); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(166,136,99,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(166,136,99,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(166,136,99,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(166,136,99,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(166,136,99,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(166,136,99,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68863', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

html {
  width: 100%;
}

body{
  max-width: 1200px;
  margin: 0 auto !important
}
.background-yellow { background-color: $yellow }
.background-orange { background-color: $orange }
.background-pink { background-color: $pink }
.background-peach { background-color: $peach }
.opaque-peach { background-color: $peach; opacity: .8}
h1 {
  font-family: 'poiret one';
  font-weight: 900
}
.main-body {
  // border-left: 2px solid $brown;
  // border-right: 2px solid $brown;
  min-height: 900px;
}
.horizontal-break {
  margin-top: -12.5px;
  .col-md-3 { 
  
    height: 25px;
 }
}
header {
  position: relative ;
  border-bottom: 4px groove darken($brown, 10%);
  img {
    height: 100%;
    width: 90%;
    max-width: 300px;
    background: seashell;
    border-radius:  25px;
    box-shadow: inset -3px -3px 5px 1px #333;
    margin-bottom: 6px;
    margin-top: 6px;
  }
}




// Universal navbar styles
.navbar-nav > li > a {
  line-height: auto;
  font-family: "poiret one";
  font-weight: bold;
  font-size: 1.2em;

}
/* /Universal Navbar styles */

// Non-mobile navbar
@media(min-width: 768px) {
  header, footer {
    background:  $brown;
    background-size: cover;
    z-index: 99;
  }
  .navbar {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('texture.png');
    background-repeat:repeat-x;
    height: 110px;

   }
  .navbar-nav {
    display: block;
    float: none;
    margin: 0 10% 0 0;
    width: 90%;
    opacity: 1;

  }
  .navbar-nav li { 
    width: 14.285714286%;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    border-radius: 0 0 35px 35px;
    box-shadow: 1px 1px 4px 1px black;
    overflow: hidden;
    a {
      display: table-cell;
      height: 50px;
      vertical-align: middle;
      width: inherit;
      text-align: center;
      font-size: 125%;
    }
  }
  .navbar-default .navbar-nav > li.active, 
  .navbar-default .navbar-nav > li.active a, 
  .navbar-default .navbar-nav > li:hover, 
  .navbar-default .navbar-nav > li:hover a {
    height: 100px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .navbar-nav li:nth-child(2) {background-color: $peach}
  .navbar-nav li:nth-child(1) {background-color: $yellow; border-left: none;}
  .navbar-nav li:nth-child(3) {background-color: $orange}
  .navbar-nav li:nth-child(4) {background-color: $pink}
  .navbar-nav li:nth-child(5) {background-color: $yellow}
  .navbar-nav li:nth-child(6) {background-color: $peach}
  .navbar-nav li:last-child {background-color: $orange}
}
@media (min-width: 769px) and (max-width: 1170px) { 
  .navbar li > a { font-size: 100% }
}
/* /Non-mobile navbar */

// Collapsed Navbar
nav.visible-xs {
  header {
    background: url('texture5.png'), whitesmoke;
    background-size: cover;
  }
  .navbar-brand, .pull-none { 
    float: none; 
    padding-left: 5px;}
    .navbar-brand { color: black }
    .navbar-toggle, { background-color: $pink }
    .navbar-collapse { background-color: $yellow }
    .navbar-toggle:hover { background-color: lighten($pink, 10%) }
   & li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-toggle .icon-bar { margin-left: 3px }
  .navbar-nav > li > a:hover,  .navbar-nav > li.active > a{
    text-decoration: underline;
    font-variant: small-caps;
  }
  .navbar-default .navbar-toggle .icon-bar { color: $pink }
  li > a { padding-left: 25px }
  .header-contact {
  color: black;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  letter-spacing: 1px;
  span {
    font-size: 1.2em;
  }
  a { color: black }
  .btn {
    // margin-bottom: 10px;
    background-color: #89CFF0;
    color: black;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    border: 5px dotted $pink;
    box-shadow: inset 0 0 5px 2px #333;
    text-transform: uppercase;
    font-family: 'aladin';
    font-size: 1.25em;
  }
  .btn:hover {
    background-color: lighten(#89cff0, 10%)
  }
}
}
/* /collapsed navbar */

// Carousel 
.carousel {
  width: 100%;
  @include brown-gradient;

  position: relative;
  padding-top: 10px;

  z-index: -9;
  overflow: visible;
}


  h3
{
  display: block;
  position: relative;
  width: 845px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px 0 6px 0;
  margin: -450px 10px 500px 29px;
  color: black;
  background-color: yellow;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 4px 4px #333;
  -moz-box-shadow: 0px 4px 4px #333;
  box-shadow: 0px 4px 4px #333;
  text-align: center;
    border-top: 3px solid black;
      border-right: 3px solid black;
  border-left: 3px solid black;


}
 h3:after{
   content: ' ';
   position: absolute;
   width: 0;
   height: 0;
   left: -3px;
   top: 100%;
   border-width: 8px 11px;
   border-style: solid;
   border-color: #333 #333 transparent transparent;
}


 h3:before
 {
   content: ' ';
   position: absolute;
   width: 0;
   height: 0;
   right: 0;
   top: 100%;
   border-width: 8px 11px;
   border-style: solid;
   border-color:  #333  transparent transparent   #333   ;
 }
.wrapper {
  width: 75%;
  overflow: hidden;
  margin: 0 auto;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 800px;
  max-width: 800px;
  max-height: 800px;
  height: auto;
  max-height: 500px;
  display: block;
  position: relative;
  margin: 0 auto;
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 border-radius: 40px;
 border: 1px solid black;


}
ol.carousel-indicators {
  text-align: right;
  left: 0;
  width: 700px;
  margin: -40px auto 0;
  position: relative;
  height: 100px;
  li {
    width: 100%;
    height: 100px;
    border-radius: 0;
    border: none;
  }
  img {
    border: 4px solid white;
    height: 100px;
    margin: 0 auto;
    opacity: .75;
    width: 100%;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 15px;
   -webkit-box-shadow: 0 0 5px 1px black;
   -moz-box-shadow: 0 0 5px 1px black;
   box-shadow: 0 0 5px 1px black;
    &:hover { background-color: $yellow }
  }
  li:hover img { margin: 0 }
  .active img { opacity: 1 }
}
@media(max-width: 768px) {
  .wrapper {
    width: 100%;
    overflow: hidden;
    background: $brown;
    margin: 0 auto;
  }
}
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out 2s;
  -o-transition: opacity ease-in-out 2s;
  -webkit-transition: opacity ease-in-out 2s;
  transition: opacity ease-in-out 2s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 2s;
  -o-transition: opacity ease-in-out 2s;
  -webkit-transition: opacity ease-in-out 2s;
  transition: opacity ease-in-out 2s;
  z-index:2;
}
// /* /carousel */


// Features Row
.features-row {
  margin-top: 40px;
  .col-md-4 {
        height: 250px;
  }

  .clip-art { 
    margin: 0 auto;
    height: 75px;
    width: 75px;
  }
  h1 {
    margin: 0 auto;
    padding: 0 0 5px;
  font-family: "poiret one";
  font-weight: bold;
  }
  ul {
    list-style: none;
    li {
      list-style: none;
      margin: 10px 0;

      span {
  bottom:2px;
  left:2%;
  position:relative;
    font-family: "spinnaker";
    font-size: 1.5em;

      }

    }

  }
  .col-md-4:first-child {
    .features-row-header { background-color: $yellow}
    ul li i { color: $yellow }
  }

  .col-md-4:nth-child(2) {
    .features-row-header { background-color: $orange }
    ul li i { color: $orange }
  }

  .col-md-4:last-child {
    .features-row-header { background-color: $pink }
    ul li i { color: $pink }
  }
  i { text-shadow: 0px 2px 1px black }
  .features-row-header {
    width: 70%;
    margin: 0 auto 20px;
    border-radius: 50% 50% 0 0;
  box-shadow: 0 1px 1px 1px #333
  }
}
  @media(min-width: 769px){
    .features-row
  .col-md-4:nth-child(2) {

    border-left: 1px dashed $brown;
     border-right: 1px dashed $brown;
  }
}
@media(max-width: 768px){
  .features-row ul {width: 70%;
    margin: 0 auto;}
}
@media(min-width: 769px) and (max-width: 1100px) {
  .features-row ul, .features-row .features-row-header {
    width: 100%;
    padding: 0;
  }
}
// /End of features row


// Scrolling Quotes
.scrolling_quote {
  margin: 50px 2.5% 0;
  display: none;
  position: relative;
  text-align: justify;

  // background-color: ;
  color: black;
  display: block;
  overflow: visible;
  border-top: 2px dashed $brown;
  border-bottom: 2px dashed $brown;

  font-style: italic;
  .titlebox{
    float:left;
    padding:0 10px;
    margin: -40px 0 0 20px;
    font-family: "poiret one";
    background: $yellow;
    font-size: 24px;
    font-weight: 900;
    color: $pink;
    border-radius: 10px 10px 0 0;
    display: none;
  }
  .quotes {
    display: none;
    padding: 0 2.5%;
    height: 100px;
    position: relative;
    margin-top: 20px;
  }
  .source {
    text-align: right;
    font-style: none;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}
/* /Scrolling Quote */


/* About Me Row */
.about-me-row {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 2.5%;
  h1 { font-size: 36px;
    margin-bottom: 5px
  }
  img { 
    width: 25%;
    height: auto;
    margin: 0 auto 10px;
    border-radius: 25px;
  }

  .col-md-6:last-child { 
    padding-top: 75px;
    border-left: 1px dashed $brown 
  }
  .btn {
    background: $orange;
    border: 1px solid yellow;
    font-family: "poiret one";
    padding: 5px;
    font-weight: bold;
    font-size: 2em;
    box-shadow: 0 0 5px 5px #333;

  }
}
@media(min-width: 769px) {
  .telephone { padding: 0 }
  .best-time {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media(max-width: 768px) {
  .col-md-3, .col-md-8 {
    padding-left: 0;
  }
}

/* /About me row */

/* Footer*/
footer {
    border-top: 4px ridge darken($brown, 10%);

  color: black;
  background: $brown
  img {
    height: 100%;
    width: 90%;
    max-width: 150px;
    background: seashell;
    border-radius:  25px;
    box-shadow: inset -3px -3px 5px 1px #333;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  h5 {
    text-decoration: underline;
    margin-bottom: 5px;
  }
  address { line-height: 1 }
  .web-designer a{
    color: #333;
    text-decoration: underline
  }
}
@media(min-width: 769px){
  footer .web-designer { margin-top: 50px }
}
/* /Footer */


/* header contact */
.header-contact {
  color: white;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;

  span {

    font-size: 1.2em;

}
  a { color: white}
  .btn {
    margin-bottom: 10px;
    background-color: #89CFF0;
    color: black;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 900;
    border: 5px dotted yellow;
    box-shadow: inset 0 0 5px 2px #333;
    text-transform: uppercase;
    font-family: 'poiret one';
    font-size: 1.25em;
    text-shadow: 1px 0 1px black;
  }
  .btn:hover {
    background-color: lighten(#89cff0, 10%)
  }
}

.page {
  padding: 25px 0;
  background-color: lighten($yellow, 10%);
  h1 {
    margin-top: 0;
  }
}

/* Contact Page */
.contact-us-page {
  .jumbo-font {
    margin-top: 50px;
    font-size: 8em;
    font-weight: bold;
    font-family: 'poiret one';
    color: $orange;
    text-shadow: 5px 3px 1px white;
    letter-spacing: .1em;
  }
  .large-font {
    font-size: 2em;
    font-family: 'poiret one';
    color: $orange;
    font-weight: bold;
  }
  .contact-page-text {
    padding-left: 10%;
    text-shadow: 1px 1px 1px white;
    letter-spacing: .1em;
  }
  p {
    font-family: spinnaker sans-serif;
    margin-top: 5px;
    padding-right: 1em;
    color: black;
    font-size: 1.25em;
  }
  .contact-form { padding-right: 10% }
  .btn {
    background: $orange;
    border: 1px solid white;
    font-family: "poiret one";
    padding: 5px;
    font-weight: bold;
    font-size: 2em;
    border: 10px solid white;
    box-shadow: 0 0 15px 5px #333;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
@media(max-width: 768px) {
  .contact-us-page {
    padding: 0 5%;
    .jumbo-font { font-size: 6em }
    .large-font { font-size: 2em }
    .contact-page-text { padding: 0 2% }
  }
}
@media(max-width: 580px) {
  .contact-us-page {
    .jumbo-font {
      font-size: 4em;
    }
    .large-font {
      font-size: 1.25em;
    }
  }
}
/* /Contact Page */

/* Flash Messages */
.error_messages {
  color: red;
  background: yellow;
  padding: 2px;
  border: 1px solid red;
}
.col-md-4 .error_messages h2 { 
  font-size: 20px;
  text-transform: uppercase;
}
/* /Flash Messages */