@import "configuration";






@media(max-width: 768px) {
    header .logo {
      width: 100%;
      height: auto;
      max-width: 350px;
      margin: 0 auto;
      position: relative;

    }

}

/* /Header */


@media(min-width: 769px) {
  .contact-form {
    margin-top: 50px;
  }

}

/* Carousel */

@media(min-width: 768px) {
#wrapper {
width: 950px;
height: 450px;
position: relative;
margin: 0 auto;

}
#carousel-left,
#carousel-right {
width: 450px;
height: 337.5px;
overflow: hidden;
position: absolute;
top: 65px;
z-index: 1;
}
#carousel-left {
left: 25px;

}
#carousel-right {
right: 25px;

}
#carousel-center {
width: 550px;
height: 412.5px;
overflow: hidden;
position: absolute;
top: 25px;
left: 200px;
z-index: 2;

img {
  border-right: 1px solid black;
border-bottom: 1px solid black;
}
}
.caroufredsel_wrapper {
box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3 );
}
.caroufredsel_wrapper img {
display: block;
float: left;



}
#prev,
#next {
background: $orange;
color: #fff;
font-size: 25px;
font-weight: bold;
text-align: center;
text-decoration: none;
text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.6 );
line-height: 26px;
display: block;
width: 30px;
height: 30px;
margin-top: -15px;
position: absolute;
top: 50%;
z-index: 0;
}
#prev {
left: 0;
}
#next {
right: 0;
}
#prev:hover,
#next:hover {
background: #bbb;
}

}

/* /Carousel */


