<!-- Carousel with captions -->         
<div class="carousel fade bs-docs-carousel-example carousel-fade" id="carousel-example-generic2" class="col-xs-12" data-ride="carousel" data-interval="6000" >
  <div class="wrapper">
    <div class="carousel-inner ">
      <div class="row carousel-images">
        <div class='col-md-12'>

          <% @carousel_slides.each do |slide| %>
            <div class="item">
              <div class ="carousel-image-container text-center">
                <%= image_tag(slide.image, alt: "Second slide", "data-src"=>"holder.js/900x500/auto/#777:#555/text:Second slide", class: "img-responsive col-md-5 col-md-offset-3 col-xs-12 col-sm-6 col-sm-offset-3 col-lg-5 col-lg-offset-2") %>
              </div>
              <div class="carousel-text  col-lg-4 col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 ">
                <h1 class="text-center  col-md-12<% if slide.title.length > 23 %> small-header <% end %> %>"><%= slide.title %></h1>
                <ul class = "col-md-12">
                  <% [slide.bullet_point_1, slide.bullet_point_2, slide.bullet_point_3, slide.bullet_point_4].each do |bullet_point| %>
                    <% if !bullet_point.blank? %>
                  <li><h4><i class="fa fa-star-half-full"></i><span>&nbsp;<%= bullet_point %></span></h4></li>
                    <% end %>
                  <% end %>
                </ul>
                <div class="carousel-btn-wrapper col-md-12 text-center">
                  <%= link_to("Set Up Consultation", contact_path, class: "btn custom-btn custom-btn-carousel btn-default btn-lrg") %> 
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  
     </div>
  </div>
</div>
