    <ul id="roundabout-carousel">

     <% @carousel_slides.each do |slide| %>
    
    <li><%= image_tag(slide.image) %>    <h1 class="carousel-center-title"><%= slide.title %></h1>
</li>
    <% end %>

<%= link_to "#", id: "previous" do %>
 <i class="fa fa-angle-left fa-3x"></i> 
 <% end %>
<%= link_to "#", id: "next" do %>
 <i class="fa fa-angle-right fa-3x"></i> 
 <% end %>
 </ul> 


  