<%= link_to("Set Up Consultation", contact_path, class: "btn btn-default btn-lrg") %> <br />

  ***Proudly Serving Central New Jersey***<br />

<i class="fa fa-phone fa-1x"></i><span text-centers>(555)555-5555</span>&nbsp;&nbsp;
<%= link_to("#") do %><i class="fa fa-facebook-square fa-2x"></i><% end %>&nbsp;
<%= link_to("#") do %><i class="fa fa-twitter-square fa-2x"></i><% end %>
<br />