<div class="row ">
  
  <div class= "col-md-4 text-center hidden-xs">
    <h5>Visit Our Friends At:</h5>
    <address>
      <strong>Mulberry Market</strong><br>
      <small>30 New Jersey Rte.34</small><br>
      <small>Colts Neck, NJ 07722</small><br>
      <small><abbr title="Phone">P:</abbr> (732) 683-0202</small>
    </address>
  </div>
  
  <div class="col-md-4 text-center  ">
                  <%= link_to image_tag('logo_transparent_background.png'), root_path %>
  </div>

  <div class="col-md-4 text-center web-designer">
    <strong> Site Designed By: <%= mail_to("sethaltshuler@gmail.com", "Seth B. Atshuler") %></strong>
  </div>
  
</div>