<div class="horizontal-break hidden-xs">

  <div class="col-md-3 background-yellow">
  </div>
  <div class="col-md-3 background-peach">
  </div>
  <div class="col-md-3 background-orange">
  </div>
  <div class="col-md-3 background-pink">
  </div>

</div>
